@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
/* html{
  font-size: ;
} */
.navbar-icon-top .navbar-nav .nav-link > .fa {
  position: relative;
  width: 36px;
  font-size: 24px;
}
.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  font-size: 0.75rem;
  position: absolute;
  right: 0;
  font-family: sans-serif;
}
#mainContainer{
  border-style: solid;
  border-color:red;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 35vw; 
  padding:1rem;
  margin:1rem;
}

.button_answer{
  width:20em;
  height: 10em;
  display:flex;
}

.startContainer{
  display:flex;
  justify-content: center;
}


#questionPrint{
  display:flex;
  justify-content: center;
}

#questionContainer{ 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;  
    width: 60%;
    padding:2em;
}

#buttonContainer{
  display:flex;
  flex-direction: column;
  width:90%;
  align-items: center; 
}

#btn_embellecedor{
  display: flex;
  margin:1em;
}

.button_answer{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin:1em;
}

#next-btn{
  width:50%;
  padding:1em;
  margin:auto;
}

.hide{
  display:none;
}
.button_answer.correct {
  background-color: rgb(0, 255, 72);
}
.button_answer.wrong {
  background-color: rgb(255, 0, 0);
}