@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

#mainContainer{
  border-style: solid;
  border-color:red;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 35vw; 
  padding:1rem;
  margin:1rem;
}

.button_answer{
  width:20em;
  height: 10em;
  display:flex;
  
}

.startContainer{
  display:flex;
  justify-content: center;
}

#questionPrint{
  display:flex;
  justify-content: center;
}

#questionContainer{
    border-style:solid;
    border-color: red;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;  
    width: 60%;
    padding:2em;
}

.buttonContainer{
  display:flex;
  justify-content: center;
  flex-direction: column; 
}

.btn__embellecedor{
  display: flex;
  margin:1em;
}

.button_answer{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin:1em;
}

#next-btn{
  width:50%;
  padding:1em;
  margin:auto;
}

.hide{
  display:none;
}

.btn.correct {
  background-color: rgb(0, 255, 72);
}

.btn.wrong {
  background-color: rgb(255, 0, 0);
}

#questionContainer {
  min-width: 50%;
  min-height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#questionPrint {
  display: flex;
  align-content: flex-start;
} 

.buttonContainer {
  display: flex;  
  justify-content: flex-end;
  
}